[Desktop Entry]
Name=Hyprwave Assistant
Comment=Updater, Installer & Knowledge Base
Exec=ghostty -e hyprwave-assistant
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Settings;Utility;
StartupNotify=true
Keywords=update;install;knowledge;base;help;assistant;hyprwave;bootc;flatpak;
